- if @people.empty?
  = render partial: 'shared/empty_list', locals: { title: nil, description: t('no_content.empty_list.parties.description', letter: params[:letter].upcase)}
- else
  %ul.list
    - @people.each do |person|
      %li.list__item
        %h2= link_to(person.display_name, person_path(person.graph_id))
