- page_title = title(t('.title', current: t('current'), parties_title: t('parties_title')))

%h1= page_title

= render 'party_list'
%p= link_to(t('.current_and_former', current_and_former: t('current_and_former'), parties_title: t('parties_title')), parties_path)
