#content.section--primary
  .container
    %h1= title(t('.title', current: t('current').capitalize, parties_and_groups: t('parties_and_groups')))

    = render partial: 'shared/dissolution_message'
%section
  .container
    = render 'party_list'
