- page_title = title(t('.title', parties: t('parties_title').downcase, current_and_former: t('current_and_former')))

%h1= page_title
= render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :parties_a_z_letter_path }

= render 'party_list'
