- page_title = title(t('.title', parties: t('parties_title'), past_present: t('past_present')))

%h1= page_title
= render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :parties_a_z_letter_path }
= render partial: 'party_list', locals: {parties: @parties}



