#content.section--primary
  .container
    %h1= title("#{@person.display_name} - #{t('.title', current_and_former: t('current_and_former').capitalize, constituency_plural: t('constituency_plural'))}")

- unless @seat_incumbencies.empty?
  %section
    .container
      %ol.list--block
        = render partial: 'people/seat_incumbency', collection: @seat_incumbencies
