<li>
  <%= link_to constituency_path(constituency.id) do %>
      <%= constituency.name %>
  <% end %>
  <ul>
    <%= render :partial => 'sittings/sitting', :collection => constituency.sittings %>
  </ul>
</li>