=> PUGIN.get_component('modules/card', { \
    title: link_to(current_person.display_name, person_path(current_person.id)), \
    house: defined?(current_person.house.id) ? current_person.house.id : "Lord", \
    image: [{ src: "http://wraggelabs.com/static/images/default_avatar-2.gif", \
              alt: current_person.display_name \
           }], \
    details: [{ description: !current_person.constituency.nil? ? link_to(current_person.constituency.name, constituencies_path(current_person.constituency.id)) : "No Information"}, \
             { description: !current_person.house.nil? ? link_to(current_person.house.id, houses_path(current_person.house.id)) : "No Information"}, \
             { description: !current_person.party.nil? ? link_to(current_person.party.name, parties_path(current_person.party.id)) : "No Information"}] \
   })
