%li.list__item
  %ul
    - if member.respond_to?(:full_name) && member.respond_to?(:graph_id)
      %li
        %a{:href => "/people/#{member.graph_id}"}= member.full_name

        - if !member.statuses[:house_membership_status].empty? && !member.statuses[:house_membership_status].include?('Current MP')
          %p= member.statuses[:house_membership_status].join(' and ')

        - if !member.constituencies.empty?
          - seat_incumbency = member.seat_incumbencies.select(&:current?).first
          - unless seat_incumbency.nil?
            %li
              Current MP for
              %a{:href => "/constituencies/#{seat_incumbency.constituency.graph_id}"}= seat_incumbency.constituency.name
        - if !member.parties.empty?
          - party_membership = member.party_memberships.select(&:current?).first
          - unless party_membership.nil?
            %li
              %a{:href => "/parties/#{party_membership.party.graph_id}"}= party_membership.party.name
