=> PUGIN.get_component('modules/card', { \
    title: defined?(person.display_name) ? link_to(person.display_name, person_path(person.id)) : "No Information", \
    house: defined?(person.houses.first.id) ? person.houses.first.id : "Lord", \
    image: [{ src: "http://wraggelabs.com/static/images/default_avatar-2.gif", \
              alt: person.display_name \
           }], \
    details: [{ description: defined?(person.constituencies.first.id) ? link_to(person.constituencies.first.name, constituencies_path(person.constituencies.first.id)) : "No Information"}, \
             { description: defined?(person.houses.first.id) ? link_to(person.houses.first.id, houses_path(person.houses.first.id)) : "No Information"}, \
             { description: defined?(person.parties.first.id) ? link_to(person.parties.first.name, houses_path(person.parties.first.id)) : "No Information"}] \
   })
