<li>
  <p><%= link_to house_path(sitting.house.id) do %>
        <% sitting.house.id %>
        <% end %>
        -
    <%= link_to constituency_path(sitting.constituency.name) do %>
        <% sitting.constituency.name %>
        <% end %>
  <p><%= sitting.start_date %> - <%= sitting.end_date %></p>
</li>
