- page_title = title(t('.title', current: t('current'), mps_and_lords: t('mps_and_lords')))

%h1= page_title
= render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :people_members_current_a_z_letter_path }
= render partial: 'pugin/cards/person-list', locals: { people: @people, letter: params[:letter] }

%p= link_to(t('past_and_present_members'), people_members_a_z_letter_path('a'))
