- page_title = title(t('.title', mps_and_lords: t('mps_and_lords'), current_and_former_2: t('current_and_former_2')))

%h1= page_title
= render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :people_a_z_letter_path }

= render partial: 'pugin/cards/person-list', locals: { people: @people, letter: params[:letter] }
