%h1 People
%ul.people-list
  - @people.each do |person|
    %li
      = person.respond_to?(:personGivenName) ? person.personGivenName : ''
      = person.respond_to?(:personFamilyName) ? person.personFamilyName : ''




