- page_title = title(t('.title', current_and_former: t('current_and_former').capitalize, mps_and_lords: t('mps_and_lords')))

.section--primary
  .container
    %h1= page_title

%section
  .container
    = render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :people_members_a_z_letter_path }

%section#content
  .container
    = render partial: 'pugin/cards/person-list', locals: { people: @people, letter: params[:letter] }
