=> PUGIN.get_component('modules/card', { \
    title: defined?(@person.display_name) ? @person.display_name : "N/a", \
    img_src: "http://wraggelabs.com/static/images/default_avatar-2.gif", \
    details: [{ description: defined?(@constituencies.first.id) ? link_to(@constituencies.first.name, constituency_path(@constituencies.first.id)) : "N/a"}, \
             { description: defined?(@houses.first.id) ? link_to(@houses.first.id, houses_path(@houses.first.id)) : "N/a"}, \
             { description: defined?(@parties.first.id) ? link_to(@parties.first.name, houses_path(@parties.first.id)) : "N/a"}] \
   })

=> PUGIN.get_component('modules/panel', { title: "Party", \
                                          description: defined?(@parties.first.name) ? @parties.first.name : "N/a", \
                                          url: defined?(@parties.first.id) ? "/parties/" +  @parties.first.id : "N/a" \
                                        })

=> PUGIN.get_component('modules/contact', { is_mp: defined?(@houses.first.id) ? true : false, \
                                            address: [title: "Parliamentary Address",  \
                                                      email: defined?(@contact_points.first.email) ? @contact_points.first.email : "N/a", \
                                                      phone: defined?(@contact_points.first.telephone) ? @contact_points.first.telephone : "N/a", \
                                                      address: defined?(@contact_points.first.full_address) ? @contact_points.first.full_address : "N/a", \
                                                     ] \
                                          })
