<h1><%= @person.display_name %></h1>
<ul>
  <%= render :partial => 'contact_points/contact_point', :collection => @person.contact_points %>
</ul>
<ul>
  <%= render :partial => 'people/party', :collection => @person.parties %>
</ul>
<ul>
  <%= render :partial => 'people/sitting', :collection => @person.sittings %>
</ul>
