=> PUGIN.get_component('modules/card', { \
    title: defined?(@person.display_name) ? @person.display_name : "No Information", \
    image: [{ src: "http://wraggelabs.com/static/images/default_avatar-2.gif", \
              alt: @person.display_name \
           }], \
    details: [{ title: "House: ", description: defined?(@houses.first.id) ? link_to(@houses.first.id, houses_path(@houses.first.id)) : "No Information"}, \
              { title: "Party: ", description: defined?(@parties.first.id) ? link_to(@parties.first.name, houses_path(@parties.first.id)) : "No Information"}, \
              { title: "Constituency: ", description: defined?(@constituencies.first.id) ? link_to(@constituencies.first.name, constituency_path(@constituencies.first.id)) : "No Information"}] \
   })

=> PUGIN.get_component('modules/contact', { is_mp: defined?(@houses.first.id) ? true : false, \
                                            address: [title: "Parliamentary Address",  \
                                                      email: defined?(@contact_points.first.email) ? @contact_points.first.email : "No Information", \
                                                      phone: defined?(@contact_points.first.telephone) ? @contact_points.first.telephone : "No Information", \
                                                      address: defined?(@contact_points.first.full_address) ? @contact_points.first.full_address : "No Information", \
                                                     ] \
                                          })


