%li.list__item
  %ul
    %li= link_to(current_person.full_name, person_path(current_person.graph_id))
    %li
      MP for
      = link_to(current_person.constituencies.first.name, constituency_path(current_person.constituencies.first.graph_id)) unless current_person.constituencies.empty?
    %li= link_to(current_person.parties.first.name, party_path(current_person.parties.first.graph_id)) unless current_person.parties.empty?
