#content.section--primary
  .container
    = render partial: 'pugin/components/letter-navigation', locals: { route_symbol: :house_members_current_a_z_letter_path, primary_id: @house_id }

    - if HousesHelper.commons?(@house_id)
      = render partial: 'shared/dissolution_message'

