%h1= @house.name
%ul.people-list
  - @people.each do |person|
    %li
      = link_to(person.full_name, person_path(person.graph_id))
      %ul
        - person.seat_incumbencies.each do |seat_incumbency|
          %li #{seat_incumbency.start_date} - #{seat_incumbency.end_date}
