<li>
  <%= contact_point.street_address if defined? contact_point.street_address %>
  <%= contact_point.address_locality if defined? contact_point.address_locality %>
  <%= contact_point.postal_code if defined? contact_point.postal_code %>
  <%= contact_point.telephone if defined? contact_point.telephone %>
</li>