- page_title = title(t('contact_points_title'))

%h1= page_title

%ul.list
  - @contact_points.each do |contact_point|
    %li.list__item
      = render partial: 'contact_points/contact_point', locals: { contact_point: contact_point }

