.block
  %nav{ aria:{ label: t('.a_to_z.aria_label') } }
    %ul.navigation__letter
      - @letters.each do |letter_key, letter_value|
        %li{ data: { letter: letter_key }, class: ('active' if (params[:letter] == letter_key)) }
          - if letter_value == 'active'
            = link_to(send(route_symbol, letter_key), data: { 'atoz-see': 'true' } ) do
              = letter_key
          - else
            %a{ data: { 'atoz-see': 'true' } }
              = letter_key
