%h2= @constituency.name

%h3 Contact details
- @constituency.contact_points.each do |contact_point|
  %div Email: #{contact_point.email}
  %div Phone: #{contact_point.phoneNumber}
  - contact_point.postal_addresses.each do |postal_address|
    %div Address: #{postal_address.full_address}
