- page_title = title(t('.title', current: t('current'), constituencies: t('constituencies_title')))

%h1= page_title
= render partial: 'shared/a_to_z', locals: { route_symbol: :constituencies_current_a_z_letter_path }
= render 'constituencies/current_constituencies'
