<ul>
  <%= @constituencies.each do |constituency| %>
      <li>
        <%= link_to constituency_path(constituency.id) do %>
            <% constituency.name %>
        <% end %>
      </li>
  <% end %>
</ul>
