- page_title = title(t('.title', current_and_former: t('current_and_former_2'), constituencies: t('constituencies_title').downcase))

%h1= page_title
= render partial: 'shared/a_to_z', locals: { route_symbol: :constituencies_a_z_letter_path }
= render 'constituencies/constituencies'
