.section--primary
  .container
    %h1= title(t('.title', current_and_former: t('current_and_former').capitalize, constituency_plural: t('constituency_plural')))

    = render partial: 'pugin/components/navigation-letter', locals: { route_symbol: :constituencies_a_z_letter_path }

%section#content
  .container
    = render partial: "pugin/elements/list", locals: { item_type: "constituencies", data: @constituencies }
