- page_title = title("#{@constituency.name} - #{t('.title', current_and_former: t('current_and_former').capitalize, mp_plural: t('mp_plural'))}")

%h1= page_title

= render 'constituencies/constituency'
