<li>
  <%= link_to party_path(party_membership_party.id) do %>
      <%= party.name %>
  <% end %>
  <ul>
    <%= render :partial => 'party_memberships/party_membership', :collection => party_membership_party.party_memberships %>
  </ul>
</li>