<li>
  <%= link_to person_path(party_membership_person.id) do %>
      <%= party_membership_person.display_name %>
  <% end %>
  <ul>
    <%= render :partial => 'party_memberships/party_membership', :collection => party_membership_person.party_memberships %>
  </ul>
</li>