<li>
  <% unless party_membership[:partyMembershipStartDate].nil? %>
      <%= party_membership[:partyMembershipStartDate] %>
  <% end %>
  <% unless party_membership[:partyMembershipEndDate].nil? %>
      - <%= party_membership[:partyMembershipEndDate] %>
  <% end %>
</li>
