%section.section--primary
  .container
    %h1= title("Parliaments")
    %ul.list--box
      - @parliaments.each do |parliament|
        %li
          .list--details
            %h2= link_to "#{parliament.date_range(date_format: '%Y')}", parliament_path(parliament.graph_id)
