.block
  %nav{ aria:{ label: t('.a_to_z.aria_label') } }
    %ul.navigation__letter
      - ('a'..'z').each do |letter|
        %li
          = link_to(@root_path + "/" + letter.downcase, data: { 'atoz-see': 'true' } ) do
            = letter
