#content.section--primary
  .container
    %h1= title(t('.title'))

    - if flash[:error]
      .highlight--box.highlight--caution__soft
        %p= flash[:error]

    = render partial: 'postcodes/postcode_lookup', locals: { path: postcodes_lookup_path }
