.section--primary
  .container
    %h1= title("#{@constituency.name} - #{t('.title', current_and_former: t('current_and_former').capitalize, mp_plural: t('mp_plural'))}")

%section#content
  .container
    = render 'constituencies/constituency'
